/* CSS FOR GENERAL CONSTRUCTION OF SITE LAYOUT */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

header {
    grid-area: header;
    background: #1B1B1B;
    color: #EAEAEA;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #c49618e3;
}

aside {
    grid-area: sidebar;
    background: #414141;
    color: #EAEAEA;
    padding: 20px;
    border-right: 1px solid #c49618e3;
}

main {
    grid-area: main;
    background: #a5a5a5;
    color: #EAEAEA;
    padding: 20px;
    overflow: auto;
}

@media (max-width: 767px) {
    .container {
        grid-template-areas:
            "header"
            "sidebar"
            "main";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    aside {
        width: 100%;
    }
}

/* CSS FOR GENERAL CONSTRUCTION OF SITE LAYOUT */

/* CSS FOR SIDE BAR CONTENT */

.sidebar-general {
    font-family: "Nanum Gothic Coding";
}

/* CSS FOR CENTER CONTENT */

.center-general {
    font-family: "Nanum Gothic Coding";
    text-align: center;
    color: #000000;
}

.npc-filters {
    font-size: 14px;
    border-style:double;
    border-width: 3px;
    border-color: #000000;
    border-radius: 10px;
    padding: 5px;
}

.npc-card {
    font-size: 18px;
    background-color: #c49618e3; /* Dark background for the card */
    border-radius: 3px; /* Optional: rounds the corners of the card */
    padding: 10px; /* Adds space inside the card */
    margin: 10px auto; /* Centers the card and adds space around it */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: adds a subtle shadow for depth */
    max-width: 600px; /* Restricts card width for better readability */
}
