body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #0F0F0F; /* Dark background */
    color: #EAEAEA; /* Light text color */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    margin-bottom: 20px;
}

.header-container h1 {
    flex-grow: 1;
}

input[type="number"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
    width: auto; /* Adjust input width as needed */
}

#npc-full-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.npc-detail {
    background-color: #232D3F; /* Lighter card color */
    color: #EAEAEA; /* Light text color inside cards */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    width: calc(20% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.npc-detail:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

.collapsible-content {
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    max-height: 0;
}

.collapsible-content > *:not(:last-child) {
    margin-bottom: 15px; /* Adds more space between collapsible content sections */
}

.collapsible-content > div {
    padding: 3px;
    background-color: #232D3F; /* Sub-sections background for visual separation */
    border-radius: 5px;
}

/* Reduced spacing for a more compact look */
.npc-detail h3, .npc-detail h4, .npc-detail p, .npc-detail li {
    margin: 5px 0;
}

.npc-detail ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
}

/* Styling for the stat block to display inline */
.stat-block p {
    display: inline-block;
    margin-right: 10px;
}

/* Button styling */
button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #005B41;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008170;
}

#card-element {
    color: rgb(228, 204, 70);
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .npc-detail { width: calc(25% - 20px); }
}

@media (max-width: 992px) {
    .npc-detail { width: calc(33.3333% - 20px); }
}

@media (max-width: 768px) {
    .header-container {
        justify-content: center;
        text-align: center;
    }

    .header-container h1 {
        margin-bottom: 10px; /* Add some space between the title and the input/button on small screens */
        flex-basis: 100%; /* Ensure the title takes the full width */
    }

    input[type="number"], button {
        margin: 5px; /* Reduce margin for small screens */
    }
}

@media (max-width: 576px) {
    .npc-detail { width: 100%; }
}
