body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nanum Gothic Coding', monospace;
    background-color: #282c34;
    color: #abb2bf;
}

.container {
    display: grid;
    grid-template-areas: "header header" "sidebar main";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

header {
    grid-area: header;
    background: #3a3f4b;
    color: #61dafb;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
}

aside {
    grid-area: sidebar;
    background: #21252b;
    color: #9da5b4;
    padding: 20px;
    overflow-y: auto;
}

main {
    grid-area: main;
    background: #282c34;
    padding: 20px;
    overflow-y: auto;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls h2 {
    margin: 0;
    flex: 1;
}

#npc-number {
    flex-grow: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #3a3f4b; /* Reverted to non-blue inside color */
    color: #61dafb; /* Adjusted text color for contrast */
    border: 1px solid #61dafb;
    border-radius: 5px;
}

#generate-npcs, #toggle-filters {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #61dafb;
    color: #282c34;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

#generate-npcs:hover, #toggle-filters:hover {
    background-color: #4fa8d7;
}

.npc-filters {
    display: none;
    padding: 10px;
    margin-bottom: 20px;
    background: #21252b;
    border-radius: 8px;
}

#npc-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.npc-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3a3f4b;
    color: #acabf5;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.npc-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr; /* Full width on mobile */
        grid-template-areas: 
            "header"
            "main"
            "sidebar";
    }
    
    aside, #npc-number, #generate-npcs, #toggle-filters {
        display: block; /* Make sure controls are visible */
    }

    .controls {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; /* Ensure the controls container takes full width */
    }

    .controls > * {
        width: 90%; /* Make children (input, buttons) fill a majority of the container width */
        margin: 8px 0; /* Add some vertical spacing */
    }

    #npc-container .npc-card {
        width: calc(100% - 40px); /* Adjust card width on smaller screens */
        margin: 10px auto; /* Center cards with automatic horizontal margins */
    }
}

